@use '@/app/styles/variables.scss' as *;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  min-height: 100vh;

  font-size: 2.5rem;
}
.cardsContainer {
  display: flex;
  gap: $spacing-md;
}
