{
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "always",
  "tabWidth": 2,
  "printWidth": 120,
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false
}
