version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
      - "5005:5005" # Для отладки
    volumes:
      - ./backend:/app
      - /app/build
    networks:
      - cardtopia-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    networks:
      - cardtopia-net
    depends_on:
      - backend

networks:
  cardtopia-net:
    driver: bridge