version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
      - "5005:5005"
    volumes:
      - ./backend:/app
      - /app/build
    networks:
      - cardtopia-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL_SERVER=http://backend:8080
      - NEXT_PUBLIC_API_URL=http://localhost:8080
    volumes:
      - ./frontend:/app
    networks:
      - cardtopia-net
    depends_on:
      - backend

networks:
  cardtopia-net:
    driver: bridge