@use '@/app/styles/variables.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.label {
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  color: var(--color-neutral-300);
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: $checkbox-size;
  height: $checkbox-size;

  /* Стили для обычного состояния */
  border: 1px solid $color-dark-border;
  border-radius: $radius-sm;
  padding: 0;
  background: $color-dark-bg;
  transition: $transition-base;
  position: relative;
  &:hover {
    box-shadow: $shadow-card-hover;
  }

  /* Стили для выбранного состояния */
  &:checked {
    border: none; // Убираем границу, так как есть тень
    padding: 0;
    box-shadow: 0 0 0 2px $bg-muted;
    background: $bg-dark-gradient;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/assets/icons/checked-icon.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .errorText {
      color: var(--color-danger-500);
      font-size: 0.875rem;
      padding-left: 40px; /* Сдвигаем текст ошибки под чекбокс */
    }
  }
}
