:root {
  --header-height: 8rem;
  --site-max-width: 1920px;

  /* Design columns grid */
  --dcg-count: 4;
  --dcg-margin: 2rem;
  --dcg-gutter: 2rem;
  --dcg-column-width: calc((min(100vw, var(--site-max-width)) - 2 * var(--dcg-margin) - ((var(--dcg-count) - 1) * var(--dcg-gutter))) / var(--dcg-count));
  --dcg-4columns: calc(4 * var(--dcg-column-width) + 3 * var(--dcg-gutter));
  --dcg-6columns: calc(6 * var(--dcg-column-width) + 5 * var(--dcg-gutter));
  --dcg-8columns: calc(8 * var(--dcg-column-width) + 7 * var(--dcg-gutter));

  /* Colors */
  --color-white: rgb(255 255 255);
  --color-black: rgb(0 0 0);

  /* Z-indexes */
  --z-underscreen-layer: -10;
  --z-background-layer: 10;
  --z-lower-layer: 20;
  --z-content-layer: 30;
  --z-overlay-layer: 40;
  --z-modal-layer: 50;
  --z-dropdown-layer: 60;
  --z-tooltip-layer: 70;
  --z-top-layer: 80;

  /* Easings */
  --ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
  --ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);
  --ease-in-sine: cubic-bezier(0.12, 0, 0.39, 0);
  --ease-out-sine: cubic-bezier(0.61, 1, 0.88, 1);
  --ease-in-out-sine: cubic-bezier(0.37, 0, 0.63, 1);
  --ease-in-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
  --ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);

  @media screen and (min-width: 431px) {
    --dcg-count: 12;
  }
}
