@use '@/app/styles/variables.scss' as *;
.roomListContainer {
  padding: 20px;
  border-radius: 10px;
  color: #f0f0f0;
  width: clamp(200px, 50%, 300px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: var(--chat-bg);
  background: rgba(5, 20, 12, 0.9);
  backdrop-filter: blur(12px);
  border-color: #6c63ff;
  box-shadow: 0 0 0 3px rgba(108, 99, 255, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 1.5rem;
  margin: 0;
  color: #6c63ff;
}

.createRoomButton {
  background-color: #6c63ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;

  &:hover {
    background-color: #5a52d6;
  }
}

.roomList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.roomItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a3b43;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition:
    background-color 0.2s,
    transform 0.2s;

  &:hover {
    background-color: #4a4e69;
    transform: translateY(-2px);
  }
}

.roomName {
  font-weight: 600;
}

.participantCount {
  font-style: italic;
  color: #a0a0a0;
}

.noRooms {
  text-align: center;
  color: #a0a0a0;
  padding: 20px;
}

.block {
  display: none;
}
