@use '@/app/styles/variables.scss' as *;

.root {
  justify-content: center;
  min-height: 150px;
  width: 80%;
  margin: $spacing-md;
  padding: $spacing-md;
  border: 2px dashed #666;
  border-radius: $radius-md;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  transition: background 0.15s;
}
